body {
    background-color: rgb(134, 210, 210); 
}

#main {
    border: 2px solid black;
}

#ui {
    display: flex;
    width: 100%; 

}

#input {
    display: block; 
    width: 300px; 
}

#selected {
    
}