@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    canvas {
        width: 100%;
    }
  }

body {

    font-family:Verdana, Geneva, Tahoma, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8px;
    font-weight: 300;
    font-style:initial;
    
}

.chartWrapper1 {
    z-index: 2;
    position: relative;
    width: 150px;
    height: 15px;
    background: rgb(255, 205, 113);
    border-radius: 0px;
    right:-5%;
    margin-bottom: 1%;
    top: 100px;
}

.chartWrapper1 .chart1 {
    z-index: 1;
    position: relative;
    bottom: 0;
    height: 100%;
    background: rgb(250, 121, 0);
    opacity: 0.6;
    border-radius: 6px;
}

.fillLevel1  {
    z-index: 3;
    color: #ffffff;
    margin-left: 0%;
    
}

/* 2nd chart */
.chartWrapper2 {
    z-index: 2;
    position: relative;
    width: 150px;
    height: 15px;
    background: rgb(122, 84, 13);
    border-radius: 0px;
    right:-5%;
    margin-bottom: 1%;
    top: 130px;
}

.chartWrapper2 .chart2 {
    z-index: 1;
    position: relative;
    bottom: 0;
    height: 100%;
    background: rgb(214, 105, 190);
    opacity: 0.6;
    border-radius: 14px;
}

.fillLevel2 {
    z-index: 3;
    color: #ffffff;
    margin-left: 15%;
    
}



